@media (min-width: 769px){
    .navbar {
		height:45px;
		margin-bottom: 0;
		z-index: 99999;
		}
	}

.navbar-nav a{
	text-transform: uppercase;
}

.navbar-nav li{
	padding-left:73px;
	padding-right:73px;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgb(255,255,255);
	font-family: 'Lato', sans-serif;
	font-size: 16px
}

.masthead {
    height: 95vh;
	min-height: 400px;
    background-image: url('home-photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

.animate-custom {

	position: relative;
	animation: mymove 1.2s;
}


@keyframes mymove {
	from {top: -800px;}
	to {top: 0;}

}

.button {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	border-radius: 4px;
	background-color: #f41f4e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
	width: 310px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }

  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	font-size: 2em;
	position: absolute;
	opacity: 0;
	top: -18px;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

.footer-custom{
	background-color: #2a2a2a;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

h1{
	padding-top: 30px;
	font-weight: 500;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	color: #808080;
}

.mid-h1{
	padding-top: 35px;
	font-weight: 500;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	color: #808080;
}

.abtus-custom{
	padding-top: 5px;
	padding-bottom: 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #808080;
}

.abtus-custom2{
	padding-top: 0;
	padding-bottom: 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #808080;
}


.container {
	position: relative;
	width: 100%;
}

.image {
	display: block;
	width: 90%;
	height: auto;
}

.image-custom {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #f41f4e;
}

.container:hover .overlay {
	opacity: 0.6;
}

.text {
	color: white;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 3.5vw;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.padding-custom{
	padding:20px;
}

.overlay-custom{

	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 90%;
	opacity: 0;
    background-color: #f41f4e;
    overflow: hidden;
    transform: scale(0);
    transition: 0.7s ease;
    display: block;
}

#portrait .col:hover .overlay-custom {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 0.9;
}

.text2 {
	color: white;
	font-family: 'Rouge Script', cursive;
	font-size: 3vw;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 2.8vw;
}


.jumbotron {
	background-size: cover no-repeat center;
	height: 500px;
	margin-bottom: 1px;
	position: relative;
}

.jumbotron .content {
	position: absolute;
	bottom: 0; 
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7); 
	color: #f1f1f1; 
	width: 	100%;
	padding: 30px; 
	text-align: center;
}

h3{
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}

.gallery-block{
	padding-bottom: 60px; padding-top: 60px;
}

.gallery-block.cards-gallery .card{
	transition: 0.4s easy;
}

.gallery-block.cards-gallery .card img{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}


.gallery-block.cards-gallery .card-body{
	text-align: center;
}

.gallery-block.cards-gallery .card-body p{
	font-size: 15px;
}
.gallery-block.cards-gallery a{
	color:#212529;
}

.gallery-block.cards-gallery a:hover{
	text-decoration: none;
}
.gallery-block.cards-gallery  .card{
	margin-bottom: 30px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}